version: '3.8'
services:
  server:
    build: ../server
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
    ports:
      - "5000:5000"
  client:
    build: ../client
    restart: always
    ports:
      - "80:80"
